form {
  border: 1px solid #545454;
  border-radius: 0.5rem;
  padding: 40px;
  margin: 0.5rem 0;
}

input {
  padding: 5px 20px;
  width: 100%;
  line-height: 16px;
  margin: 10px 0;
}

textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 5px #333;
  margin-bottom: 0.5rem;
}
